/*!
 * Thin Skin Retina for JW7 v1.0.0
 * Copyright 2015 Tan Vu, CodeCanyon
 * http://codecanyon.net/user/facetheme
 */
@font-face {
  font-family: 'jw-thin-icons';
  src: url('fonts/jw-thin-icons.eot?8vah6z');
  src: url('fonts/jw-thin-icons.eot?#iefix8vah6z') format('embedded-opentype'), url('fonts/jw-thin-icons.ttf?8vah6z') format('truetype'), url('fonts/jw-thin-icons.woff?8vah6z') format('woff'), url('fonts/jw-thin-icons.svg?8vah6z#jw-thin-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.jw-icon {
  font-family: 'jw-thin-icons' !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  font-variant: normal;
  /* Enable Ligatures ================ */

  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
/* Use this class to set a global background color for all elemnts. */
.jw-skin-thin .jw-background-color {
  background-color: transparent;
}
/* This is the class that houses all controls. Use this to adjust the appearance of the entire controlbar. */
.jw-skin-thin .jw-controlbar {
  height: 2em;
  bottom: 0.7em;
  display: block;
  margin: 0 auto;
  max-width: 96%;
}
/* Vertically aligns the timeslider and icons in the center of the controlbar. */
.jw-skin-thin .jw-group {
  vertical-align: middle;
}
/* Sets the style for the visual playlist. */
.jw-skin-thin .jw-playlist {
  background-color: rgba(0, 0, 0, 0.5);
}
/* Aligns the visual playlist above its icon. */
.jw-skin-thin .jw-playlist-container {
  left: -43%;
  background-color: rgba(0, 0, 0, 0.5);
  /* li list option */

  /* play icon is always active */

}
/* Sets the style for the visual playlist items. */
.jw-skin-thin .jw-playlist-container .jw-option {
  border-bottom: 1px solid #444;
  /* Playlist items are black when active, or hovered */

  /* Number color when li is hovered */

}
/* Allows you to adjust the color of the playlist item when hovering and has a different active style.*/
.jw-skin-thin .jw-playlist-container .jw-option:hover,
.jw-skin-thin .jw-playlist-container .jw-option.jw-active-option {
  background-color: black !important;
}
/* Changes the color of the label when hovering.*/
.jw-skin-thin .jw-playlist-container .jw-option .jw-label,
.jw-skin-thin .jw-playlist-container .jw-option .jw-name {
  color: white;
}
/* Changes the color of the label when hovering.*/
/*
.jw-skin-thin .jw-playlist-container .jw-option:hover .jw-label {
  color: @main-font-color;
}
*/
/* Aligns the playlist header icon with the items in the playlist. */
.jw-skin-thin .jw-playlist-container .jw-icon-playlist {
  margin-left: 0;
}
/* Sets the color of the play icon of the currently playing playlist item.*/
/*
.jw-skin-thin .jw-playlist-container .jw-label .jw-icon-play {
  color: @main-font-color;
}
*/
/* Aligns the playlist play icon with the items in the playlist. */
.jw-skin-thin .jw-playlist-container .jw-label .jw-icon-play:before {
  padding-left: 0;
}
/* Style for playlist item, current time, qualities, and caption text.*/
.jw-skin-thin .jw-text {
  color: #ffffff;
}
/* Sets the color of the playlist title */
.jw-skin-thin .jw-tooltip-title {
  background-color: #000;
  color: #ffffff;
}
/* Color for all buttons when they are inactive.*/
.jw-skin-thin .jw-button-color {
  color: #ef3123;
}
/* Color for all buttons for when they are hovered on. */
/* Color for when HD/CD icons are toggled on. */
.jw-skin-thin .jw-toggle {
  color: #ef3123;
}
/* Color for when HD/CD icons are toggled off. */
.jw-skin-thin .jw-toggle.jw-off {
  color: #383637;
}
/* Sets spacing between controlbar icons and text */
.jw-skin-thin .jw-controlbar .jw-icon:before,
.jw-skin-thin .jw-text-elapsed,
.jw-skin-thin .jw-text-duration {
  padding: 0 0.7em;
}
.jw-skin-thin .jw-text-elapsed {
  padding-right: 1.0em;
}
.jw-skin-thin .jw-text-duration {
  padding-left: 1.0em;
}
/* Removes icon padding to align the playlist header icon with the items in the playlist. */
/*
.jw-skin-thin .jw-controlbar .jw-icon-playlist:before {
  padding: 0 0.45em;
}
*/
/* Sets the style for the prev and next icons. */
/*.jw-skin-thin .jw-icon-prev,
.jw-skin-thin .jw-icon-next {
  font-size: 0.7em;
}*/
/* Adds the spacer style to between the play icon and the previous icon. */
/*
.jw-skin-thin .jw-icon-prev:before {
  border-left: 1px solid #666;
}
*/
/* Adds the spacer style to between the next item and current time.  */
/*
.jw-skin-thin .jw-icon-next:before {
  border-right: 1px solid #666;
}
*/
/* Color of the display icon */
/*.jw-skin-thin .jw-icon-display {
  color: @main-font-color;
}*/
/* Centers the display icon in it's container */
.jw-skin-thin .jw-icon-display:before {
  padding-left: 0;
}
/* Turns the display icon container into a circle. */
.jw-skin-thin .jw-display-icon-container {
  padding: 0 0.3em;
  background-color: transparent !important;
}
/* Centers the display icon in the center. */
.jw-skin-thin.jw-state-idle .jw-display-icon-container {
  padding: 0 0 0 0.5em;
}
/* Styles the timeslider rail */
.jw-skin-thin .jw-rail {
  background-color: #383637;
  box-shadow: none;
}
/* Sets the color for the buffer of the timeslider rail. */
.jw-skin-thin .jw-buffer {
  background-color: #7e7e7e;
}
/* Sets the style for the elaspesd progress. */
.jw-skin-thin .jw-progress {
  background: #ef3123;
}
/* Sets the width of the knob's container */
.jw-skin-thin .jw-knob {
  background-color: #ef3123;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  /*display: none;*/

}
/* Sets the height for the horizontal slider container. */
.jw-skin-thin .jw-slider-horizontal,
.jw-skin-thin .jw-slider-horizontal .jw-slider-container {
  /*height: 1em;*/

  height: 0.96em;
}
/* Sets the height for the horizontal slider elements. */
.jw-skin-thin .jw-slider-horizontal .jw-rail,
.jw-skin-thin .jw-slider-horizontal .jw-buffer,
.jw-skin-thin .jw-slider-horizontal .jw-progress {
  height: 0.125em;
  /*border-radius: 0;*/

}
/* Centers the knob vertically. */
.jw-skin-thin .jw-slider-horizontal .jw-knob {
  top: -0.1875em;
  margin-left: -0.25em;
}
/* Cetners the timeslider cuepoints vertically. */
.jw-skin-thin .jw-slider-horizontal .jw-cue {
  top: -0.04999999999999999em;
}
/* Sets the style for the cuepoints. */
.jw-skin-thin .jw-slider-horizontal .jw-cue:after {
  width: 0.3em;
  height: 0.3em;
  background-color: #ef3123;
  border-radius: 50%;
}
/* Sets the width for the vertical slider container. */
.jw-skin-thin .jw-slider-vertical {
  padding: 0.5em;
}
/* Sets the width for the vertical slider elements. */
.jw-skin-thin .jw-slider-vertical .jw-rail,
.jw-skin-thin .jw-slider-vertical .jw-buffer,
.jw-skin-thin .jw-slider-vertical .jw-progress {
  width: 0.125em;
  border-radius: 1em;
}
/* Sets the width of the knob's vertical slider */
.jw-skin-thin .jw-slider-vertical .jw-knob {
  width: 0.5em;
  height: 0.5em;
  margin-bottom: -0.375em;
  display: none;
}
/* Styles the volume slider progress */
.jw-skin-thin .jw-slider-vertical .jw-progress {
  background-color: #d6dbdf;
}
/* Styles the volume slider rail */
/*
.jw-skin-thin .jw-slider-vertical .jw-rail {
  background-color: #425669;
}
*/
/* Sets the position of the volume slider container. */
.jw-skin-thin .jw-volume-tip {
  width: 100%;
  left: -45%;
  padding-bottom: 0.7em;
}
/* Sets the color of the elapsed and duration text in the controlbar. */
.jw-skin-thin .jw-text-elapsed,
.jw-skin-thin .jw-text-duration {
  color: #ef3123;
  font-size: 0.688em;
  font-weight: bold;
}
/* Adds a left border as a spacer between all contorlbar icons. */
/*
.jw-skin-thin .jw-controlbar-right-group .jw-icon-tooltip:before,
.jw-skin-thin .jw-controlbar-right-group .jw-icon-inline:before {
  border-left: 1px solid #666;
}
*/
/* Removes the border from the first icon after the time duration text. */
.jw-skin-thin .jw-controlbar-right-group .jw-icon-inline:first-child:before {
  border: none;
}
/* This styles the dock icons into a circle. */
.jw-skin-thin .jw-dock .jw-dock-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  /*border-radius: .5em;*/

}
.jw-skin-thin .jw-dock-button:hover {
  background: #ef3123;
}
/* This styles tooltip for dock text background. */
.jw-skin-thin .jw-dock .jw-overlay {
  border-radius: 2.5em;
}
/*This sets the font color and background color for the active item in HD and CC menus. */
.jw-skin-thin .jw-icon-tooltip .jw-active-option {
  /*background-color: @main-font-color;
  color: #fff;*/

  color: #ef3123;
}
/* This styles the controlbar play/pause button. */
.jw-skin-thin .jw-icon-playback {
  min-width: 3em;
  padding: 0 0.55em 0 0.6em;
}
.jw-skin-thin .jw-icon-playback:hover,
.jw-skin-thin .jw-icon-prev:hover,
.jw-skin-thin .jw-icon-playlist:hover,
.jw-skin-thin .jw-icon-next:hover,
.jw-skin-thin .jw-icon-hd:hover,
.jw-skin-thin .jw-icon-cc:hover,
.jw-skin-thin .jw-icon-fullscreen:hover {
  transform: scale(1.2);
}
/* Sets a min width for the volume container so that when it changes between mute and volume, the controlbar does not shift. */
.jw-skin-thin .jw-icon-volume {
  min-width: 2.6em;
}
/* Sets the style for the time tooltip, menu, volume. */
.jw-skin-thin .jw-time-tip,
.jw-skin-thin .jw-menu,
.jw-skin-thin .jw-volume-tip,
.jw-skin-thin .jw-skip {
  border-radius: 0.25em;
  border: 0;
  padding: 0.5em;
}
/* Sets the position for the time tooltip. */
.jw-skin-thin .jw-time-tip {
  background-color: #ef3123;
  padding: 0.375em 0.62em;
  left: 0;
  bottom: 0.62em;
  border-radius: 0.875em 0.875em 0.875em 0;
}
.jw-skin-thin .jw-tooltip-time .jw-overlay {
  left: 0;
}
/*.jw-icon-volume .jw-overlay {
  bottom: 0em !important;
}*/
.jw-skin-thin .jw-menu {
  background: #d6dbdf;
}
.jw-skin-thin .jw-skip {
  background: #ef3123;
}
.jw-skin-thin .jw-controlbar .jw-menu .jw-option {
  color: #6d7a8b;
}
.jw-skin-thin .jw-controlbar .jw-menu .jw-option.jw-active-option {
  color: #ef3123;
}
/* Sets the position for the vertical volume slider. */
.jw-skin-thin .jw-volume-tip {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: #ef3123;
  border-radius: 0.938em;
  margin-bottom: -2.25em;
  padding-bottom: 2em;
}
/* Sets the width of the knob's horizontal volume slider */
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-knob {
  /*width: 0.5em;
  height: 0.5em;
  top: -0.1875em;*/

  margin-left: 0;
}
/* Sets the height for the horizontal volume slider container. */
/*
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal,
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-slider-container {
  height: 1.125em;
}
*/
/* Sets the width for the horizontal volume slider elements. */
/*.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-rail,
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-buffer,
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-progress {
  height: 0.125em;
}*/
/* Styles the volume horizontal slider progress */
.jw-skin-thin .jw-slider-volume.jw-slider-horizontal .jw-progress {
  background-color: #d6dbdf;
}
/*** ICONS ***/
.jw-skin-thin.jwplayer.jw-state-idle .jw-icon-display:before {
  content: "\e617";
  font-size: 3em;
}
.jw-skin-thin .jw-icon-cast.jw-off:before {
  content: "\e602";
}
.jw-skin-thin .jw-icon-cc.jw-off:before {
  content: "\e604";
}
.jw-skin-thin .jw-icon-hd.jw-off:before {
  content: "\e609";
}
.jw-skin-thin.jwplayer.jw-state-complete .jw-display-icon-container .jw-icon-display::before {
  font-size: 3em;
}
/* Sets the shape of the skip icon. */
/*
.jw-skin-thin .jw-skip {
  padding: 0.5em;
  border-radius: 0.25em;
}
*/
/* Sets the style for the skip text. */
.jw-skin-thin .jw-skip .jw-text,
.jw-skin-thin .jw-skip .jw-icon-inline {
  color: #ffffff;
  font-size: 0.7em;
}